[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
oci-cli = {ref = "v3.3.0", git = "https://github.com/oracle/oci-cli.git"}

[dev-packages]

[requires]
python_version = "3.9"
